<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% load thumbnail %}
    
    {% for ban in banners %} 
      {% thumbnail ban.image "960x339" crop="center" upscale=True as im %}

      <div class="carousel-item active" data-bs-interval="10000">
        <img src= "{{ im.url }}" class="d-block w-100" alt={{ ban.title }}>
      </div>
      {% endthumbnail %}
    {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>